Source: libqtcontacts-tracker
Priority: extra
Maintainer: tapio <tapio.laxstrom@plenware.fi>
Build-Depends: debhelper (>= 7),
        libqttracker-dev,
        libqtcontacts-dev
Standards-Version: 3.8.1
Section: comm

Package: libqtcontacts-tracker
Section: comm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtContact tracker stroge plugin.
