.obj
*.moc
Makefile*
*.so.*
*.so
*.so.debug
*.o
*~
.cd.rc
*.swp
core
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
build
include/*
config.pri
mobility.prf
bin/servicexmlgen*
bin/servicefw*
bin/vsexplorer*
bin/sysinfo*
bin/examples/*
bin/sysinfo*
install/*

#Symbian specific
*.mmp
*.pkg
bld.inf
ABLD.BAT
*.mk
*.rss
*.sis
*.loc
*.sisx

#Carbide project files
*.project
plugin_commonU.def

#Visual Studio files
*.sln
*.vcproj
*.suo
*.ncb
*.user

#QtCreator project files
*.pro.user

