.obj
*.moc
Makefile*
*.so.*
*.so
*.so.debug
*.o
*~
.cd.rc
*.swp
core
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
build

#Symbian specific
*.mmp
*.pkg
bld.inf
ABLD.BAT
*.mk
*.rss
*.sis
*.loc
*.sisx

#Carbide project files
*.project

# MSVS project files
*.vcproj
*.sln
*.suo
*.ncb
*.user

