.DS_Store
.obj
*.moc
Makefile*
*.dylib
*.so.*
*.so
*.so.debug
*.o
*~
.cd.rc
*.swp
core
moc_*.cpp
*.Debug
*.Release
*.pdb
*.idb
*.ib_pdb_index
build
include/*
config.pri
config.in
config.log
mobility.prf
bin/servicexmlgen*
bin/servicefw*
bin/vsexplorer*
bin/examples/*
bin/sysinfo*
bin/qcrmlgen*
bin/icheck*
install/*
lib/*
doc/src/snippets/sensors/sensors
examples/audiorecorder/audiorecorder
examples/bearercloud/bearercloud
examples/bearermonitor/bearermonitor
examples/flickrdemo/flickrdemo
examples/lightmaps/lightmaps_with_location
examples/logfilepositionsource/logfilepositionsource
examples/player/player
examples/publish-subscribe/publish-subscribe
examples/radio/radio
examples/samplephonebook/samplephonebook
examples/satellitedialog/satellitedialog
examples/sensors/accel/accel
examples/sensors/arrowkeys/arrowkeys
examples/sensors/cubehouse/cubehouse
examples/sensors/grueapp/grueapp
examples/sensors/metadata/metadata
examples/sensors/reading_perf/reading_perf
examples/sensors/sensor_explorer/sensor_explorer
examples/sensors/show_acceleration/show_acceleration
examples/sensors/show_als/show_als
examples/sensors/show_compass/show_compass
examples/sensors/show_magneticflux/show_magneticflux
examples/sensors/show_orientation/show_orientation
examples/sensors/show_proximity/show_proximity
examples/sensors/show_rotation/show_rotation
examples/sensors/show_tap/show_tap
examples/sensors/small_screen_sensors/SmallSensors
examples/servicebrowser/servicebrowser
examples/sfw-notes/sfw-notes
examples/slideshow/slideshow
examples/sysinfo/qsysinfo
examples/weatherinfo/weatherinfo_with_location
examples/qmlcontacts/qmlcontacts
*.app
config.tests/networkmanager/networkmanager
config.tests/qmf/qmf
config.tests/maemo5-contacts/maemo5-contacts
.qmake.cache
translations/qtmobility_*.qm

#Symbian specific
*.mmp
*.pkg
bld.inf*
ABLD.BAT
*.mk
*.rss
*.sis
*.loc
*.sisx
.make.cache
qmakepluginstubs

#Carbide project files
*.project
*.cproject
*.settings
plugin_commonU.def

#Visual Studio files
*.sln
*.vcproj
*.suo
*.ncb
*.user

#QtCreator project files
*.pro.user
=======
*.pro.user*
*~

