[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=declarative-music-browser
Exec=/usr/bin/single-instance /opt/declarative-music-browser/bin/declarative-music-browser
Icon=/usr/share/icons/hicolor/80x80/apps/declarative-music-browser.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
