Source: qtm-location
Section: libs
Priority: extra
Maintainer: Anton Rogaynis <anton.rogaynis@nokia.com>
Build-Depends: libqt4-dev (>= 4.6.0), cdbs, debhelper (>= 5), quilt, aegis-builder (>= 1.4), libqt4-opengl-dev (>= 4.6.0), libqtsparql-dev
Standards-Version: 3.8.0

Package: libqtm-location
Architecture: any
Section: libs
Replaces: libqtLocation
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: positioningd
Description: Qt Mobility Location module

Package: libqtm-location-dbg
Architecture: any
Section: libdevel
Depends: libqtm-location (= ${binary:Version})
Replaces: libqtLocation-dbg
Description: Qt Mobility Location debugging symbols

Package: libqtm-location-dev
Architecture: any
Section: libs
Depends: libqtm-location (= ${binary:Version}), libqtm-dev
Replaces: libqtLocation-dev
Description: Qt Mobility Location development package

Package: libqtm-location-tests
Architecture: any
Section: libs
Depends: ci-testing, ${shlibs:Depends}
XB-Maemo-CI-Packages: libqtm-location
XB-Maemo-CI-Stage: staging
Description: Qt Mobility Location autotest package

Package: libqtm-location-examples
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt Mobility Location examples package

