Source: libbearer
Priority: optional
Maintainer: Jukka Rissanen <jukka.rissanen@nokia.com>
Build-Depends: debhelper (>= 7.0.17), qt4-dev-tools (>= 4.5),
 libqt4-dev (>= 4.5), libdui-dev (>= 0.8), icd2-dev, icd2-osso-ic-dev,
 libconninet0-dev (>= 0.15), libicd-network-wlan-dev, osso-wlan-dev
Standards-Version: 3.7.2
Section: net

Package: libbearer
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Description: Qt network Bearer library
 Maemo Qt network Bearer library.

Package: libbearer-dbg
Section: net
Architecture: any
Depends: libbearer (= ${Source-Version})
Description: Debug symbols for Qt network Bearer library
 Debug symbols for Maemo Qt network Bearer library.

Package: libbearer-dev
Section: net
Architecture: any
Depends: libbearer (= ${Source-Version}), libqt4-dev (>= 4.5.0),
 icd2-osso-ic-dev, icd2-dev (>= 0.89), libdui-dev (>= 0.8),
 libconninet0-dev (>= 0.15), libicd-network-wlan-dev, osso-wlan-dev
Description: Qt network Bearer API development files
 Qt network Bearer API development files.

Package: libbearer-doc
Section: net
Architecture: any
Description: Qt network Bearer API documentation files
 Qt network Bearer API documentation files.

Package: libbearer-test
Section: net
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, dbus, gconf2, connectivity-test-stubs | icd2
Description: CI tests for libbearer
 This package contains continuous integration tests for the code inside
 libbearer source package.

Package: libbearer-examples
Section: net
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Example programs that use libbearer
 This package contains example programs that uses libbearer.

